@media only screen and (min-width: 766px) {
  .limit {
    max-width: 980px;
    margin: 0 auto;
  }
  .slogan {

      background-color:var(--pink);
      border: 3px solid white;
      color: var(--blue);
  }
  .slogan div{
    max-width: 60%;
    margin: 2rem auto;
  }
  .hide {
    display: block;
  }
  .mobile {
    display: none;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .skills {
    max-width: 50%;
    margin: -4rem auto 2rem;
    background-color: white;
    padding: 0.5rem;
  }
  .skills h2 {
    text-align: center;
  }
  .skills-container {
    column-count: 2;
  }
  .title-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
    /* font-size: 5vw;
    line-height: 7vw; */
  }
  .title-container img {
    grid-column: 1;
    grid-row: 1;
    max-width: 250px;
  }
  .title-container h1 {
    grid-column: 2;
    grid-row: 1;
    margin-left: 2rem;
    font-size: 5vw;
    /* line-height: 5vw; */
  }
}
